// Default styles
* {
  font-family: Calibri;
}

.custom-body {
  @apply h-screen flex flex-col m-0 p-0 overflow-hidden;
}

a {
  cursor: pointer;
  &:not([href]) {
    &:focus, &:hover {
      text-decoration: none;
    }
  }
}
