@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.eot");
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.woff2") format("woff2"),
    url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.woff") format("woff"),
    url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype"),
    url("assets/fonts/font-families/source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.eot");
  src: local("HelveticaNeue Light"), local("HelveticaNeueLight"),
    url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.woff2") format("woff2"),
    url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.woff") format("woff"),
    url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.ttf") format("truetype"),
    url("assets/fonts/font-families/helvetica-neue/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/font-families/helvetica/Helvetica.eot");
  src: local("Helvetica"), url("assets/fonts/font-families/helvetica/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/font-families/helvetica/Helvetica.woff2") format("woff2"),
    url("assets/fonts/font-families/helvetica/Helvetica.woff") format("woff"),
    url("assets/fonts/font-families/helvetica/Helvetica.ttf") format("truetype"),
    url("assets/fonts/font-families/helvetica/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("assets/fonts/font-families/arial/ArialMT.eot");
  src: local("Arial"), local("ArialMT"),
    url("assets/fonts/font-families/arial/ArialMT.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/font-families/arial/ArialMT.woff2") format("woff2"),
    url("assets/fonts/font-families/arial/ArialMT.woff") format("woff"),
    url("assets/fonts/font-families/arial/ArialMT.ttf") format("truetype"),
    url("assets/fonts/font-families/arial/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("assets/fonts/font-families/calibri/Calibri.eot");
  src: local("Calibri"), url("assets/fonts/font-families/calibri/Calibri.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/font-families/calibri/Calibri.woff2") format("woff2"),
    url("assets/fonts/font-families/calibri/Calibri.woff") format("woff"),
    url("assets/fonts/font-families/calibri/Calibri.ttf") format("truetype"),
    url("assets/fonts/font-families/calibri/Calibri.svg#Calibri") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
