/*
 * Variables which are defined in _variables.scss,
 * don't redefine them unless its required
 */

// Color variables
$white: #ffffff;
$black: #000000;
$active: #ffc107;
$textLight: #f8f9fa;
$defaultSpinnerColor: #ffffff;
