// Default styles
* {
  font-family: Calibri;
}

html body {
  @apply h-screen m-0 p-0 overflow-hidden;
}

a {
  cursor: pointer;
  &:not([href]) {
    &:focus, &:hover {
      text-decoration: none;
    }
  }
}
