// PRIME NG TOOLTIP
.ui-tooltip {
  max-width: 350px !important;
  white-space: nowrap;
  z-index: 1500 !important;

  .ui-tooltip-text {
    background-color: $white !important;
    font-size: 12px !important;
    border: 1px solid $tooltipBorderColor !important;
    color: $defaultTextColor !important;
    padding: 0.429em 10px !important;
  }
}

.ui-tooltip.ui-tooltip-bottom .ui-tooltip-arrow {
  border-bottom-color: $tooltipBorderColor !important;
}
