// SWEET ALERT
.swal2-popup {
  height: fit-content !important;
  width: 400px !important;
  font-size: 16px !important;
  line-height: 1.4 !important;
  padding: 0.5em 1.25em !important
}

.swal2-title {
  font-size: 20px !important;
}

.swal2-content {
  font-size: 16px !important;
  padding: 0 !important;
}

.swal2-styled {
  padding: .3em 1.7em !important;
}

.swal2-icon {
  margin: 1.1em auto 1.2em !important;
}

.swal2-container {
  z-index: 9999999 !important;
}
