/* DATEPICKER */
.common-style {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 9999999 !important;
}

.cdk-overlay-container {
  @extend .common-style;
  position: fixed;
  pointer-events: none;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  @extend .common-style;
  pointer-events: none;
}

.cdk-global-scrollblock {
  overflow-y: auto !important;
}
