@import "./project-level-global-styling";

/* Dark Mode */
.dark-mode {
  .customSpinnerMain {
    .overlay {
      background-color: rgba(15, 21, 57, 0.75) !important;
      .la-timer {
        color: #c0c0c0 !important;
      }
    }
  }
  .customSpinner {
    .overlay {
      background-color: rgba(15, 21, 57, 0.73) !important;
      .la-timer {
        color: #c0c0c0 !important;
      }
    }
  }
}

/* Light Mode */
.light-mode {
  .customSpinner {
    .overlay {
      background-color: rgba(255, 255, 255, 0.7) !important;
      .la-timer {
        color: black !important;
      }
    }
  }
}
